.container {
  width: 100%;
  height: auto;
  padding: 2rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

ion-input {
  font-size: 1.2rem;
}

ion-button {
  font-size: 1.2rem;
  margin-top: 2rem;
}
