ion-item::part(native) {
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
}

.wrapper {
    width: 100%;
    padding: 1rem 0;
}

header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      font-size: 1.55rem;
    }

    ion-text {
      font-size: 1.2rem;
    }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-area {
  display: flex;
  flex-flow: column nowrap;
}

.rating {
  display: flex;
  align-items: center;
  gap: .6rem;
}
