<ion-item class="ion-no-padding">
  <div class="wrapper">

    <header>
      <h4 *ngIf="rent?.operation === 'rent'">Aluguel</h4>
      <h4 *ngIf="rent?.operation === 'return'">Devolução</h4>
      <ion-text>{{ rent?.date }}</ion-text>
    </header>

    <div class="content">

      <ion-text>
        <span>Feito por: </span> Ricardo Kanashiro
      </ion-text>

      <div class="rating" *ngIf="rent?.rate">
        <ion-text>⭐</ion-text>
        <ion-text>{{ rent?.rate }} / 5</ion-text>
      </div>

    </div>

  </div>
</ion-item>
