<div class="container">

  <header>

    <ion-button (click)="onCancel()">Back</ion-button>

    <button class="add-author-btn" (click)="onCreateAuthor()">
      <ion-icon name="add-outline" color="primary"></ion-icon>
      <ion-text color="primary">Criar</ion-text>
    </button>

  </header>

  <div class="search-input-wrapper">
    <ion-input
      type="text"
      label="Name"
      labelPlacement="floating"
      (input)="onChangeSearch($event)"
      fill="outline"
    ></ion-input>
  </div>

  <ion-list>
    <ion-item *ngFor="let author of authorsFiltered$ | async" (click)="onSelectAuthor(author)" class="author-item">

      <div>
        <p>{{ author.name }}</p>

        <button (click)="onDeleteAuthor(author.id)">
          <ion-icon name="trash" color="primary"></ion-icon>
        </button>
      </div>

    </ion-item>
  </ion-list>
</div>
