.container {
    padding: 1.5rem 2.5rem;
    padding-top: calc(env(safe-area-inset-top) + 4rem) !important;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-author-btn {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: transparent;

    ion-icon {
        font-size: 1.8rem;
    }

    ion-text {
        font-size: 1.5rem;
    }
}

.search-input-wrapper {
    margin-top: 2rem;

    ion-input {
        font-size: 1.4rem;
    }
}

ion-list {
    margin-top: 2rem;
}

.author-item {

    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 1.4rem;
        }

        button {
            background-color: transparent;
        }

        ion-icon {
            font-size: 1.8rem;
        }
    }
}