<ion-content [fullscreen]="true">
  <div class="container">

    <h1>Bem vindo {{ userData?.name.split(' ')[0] }}</h1>

    <div class="search-area">

      <ion-input type="text" placeholder="Digite o nome" (input)="filterList($event)"></ion-input>

      <ion-list class="option-list">
        <ion-item class="option-list-item">
          <ion-select
            placeholder="Busque por"
            [(ngModel)]="searchOption"
            class="option-selector"
          >
            <ion-select-option value="livro">Nome do livro</ion-select-option>
            <ion-select-option value="autor">Nome do autor</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

    </div>

    <div class="list-header">
      <h3>Book List</h3>
      <button (click)="onCreateBook()">Cadastrar Livro</button>
    </div>

    <app-book-list [books]="booksFiltered$ | async"></app-book-list>

  </div>
</ion-content>
