.container {
    width: 100%;
    height: 40rem;
    padding: 2rem;
}

.star-rating-area {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

    overflow: auto;
}

.rate-btn {
    margin-top: 2rem;
}
